<div class="container">
  <div>
    <% @items.each do |item| %>
      <div>
        <%= cl_image_tag item.main_picture, height: 280, width: 280, crop: :fill %>
      </div>
      <div>
        <p> Taille: <%= item.size %> </p>
      </div>
    <% end %>
  </div>
</div>
