$first-color: #700039;
$first-color-light: #700039;
$second-color: #79B791;
$second-color-light: #ABD1B5;

.main-btn {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: $first-color;
  color: white;
  text-decoration: none;
}

.main-btn:hover {
  color: white;
  background-color: $first-color;
  opacity: 0.7;
  text-decoration: none;
}


.search-btn {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: $first-color;
  color: white;
  text-decoration: none;
  display: block;
}

.search-btn:hover {
  color: white;
  background-color: $first-color;
  opacity: 0.7;
  text-decoration: none;
}
